<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>GrandPy Bot</title>

</head>

<body>
    <div id='header'>
        <h1>GrandPy Bot</h1>
        <div id='logo'>
            <img src='' alt='Ceci est un logo'>
        </div>
        <p> Pourquoi utiliser la technologie quand tu peux demander à GrandPy ?</p>
    </div>
    <div id='body'>
        <form method="dialog" id='chat_input'>
            <input type="text" id="entry" required>
            <input type="submit" value="Envoyer">
    </div>
    <div id='footer'>
        <p>Ceci est un footer</p>
    </div>
</body>

</html>